.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}


.draftJsToolbar__toolbar__dNtBH{
	border: none;
	border-radius: none;
	box-shadow: none;
	border: none;
	 background: white;
	 position: absolute;
	 top:0;
	 left: 0;
	 right: 0;
	 padding: 0.5rem 0;
}


.draftJsToolbar__button__qi1gf{
  background: white;
  cursor: pointer;

}

.draftJsToolbar__button__qi1gf:hover,
.draftJsToolbar__button__qi1gf:focus {
  background: #f3f3f3;
}


.ImgButtonWrapper {
  display: inline-block;
}

.ImgButton {
  background: white;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
  cursor: pointer;
}

.ImgButton:hover,
.headlineButton:focus {
  background: #f3f3f3;
}